@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
  font-family: "Open Sans", Arial;
  margin: 0;
  font-size: 0.9em;
}

#myApp {
  display: flex;
  flex-direction: column;
}

#editorBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #bfd7ff;
  padding: 20px 0px 30px 0px;
}

#editor {
  resize: none;
  font-family: Consolas;
  width: 90%;
}

#previewBox {
  width: 100%;
  background-color: #e2fdff;
  padding: 20px 0px 30px 0px;
}

#previewHeading {
  padding: 0px 0px 0px 15px;
}

#preview {
  word-wrap: break-word;
  background-color: white;
  border: solid;
  border-width: thin;
  border-color: #cccccc;
  border-radius: 15px;
  box-shadow: 2px 2px #d9d9d9;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}

footer {
  text-align: right;
  font-size: 0.8em;
  border-top: solid;
  border-top-color: #cccccc;
  border-top-width: thin;
}

@media only screen and (min-width: 768px) {
  #myApp {
    display: flex;
    flex-direction: row;
  }
  #editorHeading {
    padding: 0px 0px 30px 0px;
  }

  #editorBox {
    width: 50%;
    padding: 40px 0px 100px 0px;
  }

  #previewHeading {
    padding: 0px 0px 30px 15px;
  }

  #previewBox {
    width: 50%;
    padding: 40px 0px 100px 0px;
  }
}